body {
    font-family: Ubuntu, Helvetica, Arial, sans-serif;
}

h1,h2 {
    margin-top: 0;
    margin-bottom: 25px;
}

.row {
    margin-bottom: 50px;
}

.navbar {
    margin-bottom: 0;
    padding: 8px 0;
}

.navbar-default {
    border: none;
}

.alert {
    border: none;
}

main {
    padding: 30px 0;
}

textarea {
    resize: vertical;
}

ul#tags li > span {
    display: inline-block;
    float:left;
    margin-right:10px;
}

#disqus_thread {
    border-top: 10px solid #008000;
    margin-top: 50px;
}
